rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isUserAuthenticated() {
      return request.auth != null;
    }
    
    function isUserRole(role) {
      return isUserAuthenticated() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role;
    }

    // Users can read their own data, admins can read any user's data
    match /users/{userId} {
      allow read: if isUserAuthenticated() && (request.auth.uid == userId || isUserRole('administrator'));
      allow write: if isUserRole('administrator');
    }

    // Rangers and Admins can read incidents and their subcollections
    match /incidents/{incidentId}/{document=**} {
      allow read: if isUserRole('ranger') || isUserRole('administrator');
    }
    
    // Rangers and Admins can update incidents and create notes
    match /incidents/{incidentId} {
       allow update: if isUserRole('ranger') || isUserRole('administrator');
    }
    
    match /incidents/{incidentId}/notes/{noteId} {
       allow create: if isUserRole('ranger') || isUserRole('administrator');
    }

    // Rangers and Admins can read all devices
    match /devices/{deviceId} {
      allow read: if isUserRole('ranger') || isUserRole('administrator');
    }
    
    // Admins can manage users and devices
    match /users/{userId} {
        allow read, write: if isUserRole('administrator');
    }
    
    match /devices/{deviceId} {
        allow read, write: if isUserRole('administrator');
    }
  }
}
